.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 685px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
  margin-left: auto;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 601px;
}

.u-section-1 .u-container-layout-1 {
  padding: 42px 30px;
}

.u-section-1 .u-image-1 {
  margin-top: 75px;
  margin-bottom: 0;
  height: 285px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 601px;
  background-image: none;
}

.u-section-1 .u-container-layout-2 {
  padding: 50px 18px;
}

.u-section-1 .u-text-1 {
  font-family: Poppins;
  font-weight: 500;
  margin: 46px 0 0;
}

.u-section-1 .u-text-2 {
  margin: 22px 106px 0 0;
}

.u-section-1 .u-text-3 {
  font-family: Poppins;
  font-weight: 500;
  margin: 24px 0 0;
}

.u-section-1 .u-text-4 {
  margin: 13px 62px 0 0;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 601px;
  background-image: none;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px;
}

.u-section-1 .u-form-1 {
  height: 317px;
  margin: 0 -60px 0 auto;
}

.u-section-1 .u-form-group-1 {
  margin-left: auto;
  margin-right: auto;
}

.u-section-1 .u-form-group-2 {
  margin-left: auto;
  margin-right: auto;
}

.u-section-1 .u-form-group-3 {
  margin-left: auto;
  margin-right: auto;
}

.u-section-1 .u-form-group-4 {
  margin-left: auto;
  margin-right: auto;
}

.u-section-1 .u-form-group-5 {
  margin-left: auto;
  margin-right: auto;
}

.u-section-1 .u-btn-1 {
  margin-left: auto;
  margin-right: auto;
  font-family: Poppins;
  width: 100%;
  border-style: none;
  letter-spacing: 1px;
  font-weight: 700;
  padding: 12px 31px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 586px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-1 {
    background-position: 50% 50%;
    min-height: 496px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 0;
    height: 225px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 496px;
  }

  .u-section-1 .u-text-1 {
    text-transform: none;
  }

  .u-section-1 .u-text-2 {
    margin-right: 78px;
  }

  .u-section-1 .u-text-3 {
    text-transform: none;
  }

  .u-section-1 .u-text-4 {
    margin-right: 5px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 496px;
  }

  .u-section-1 .u-form-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-btn-1 {
    text-transform: none;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 517px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 380px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-1 .u-image-1 {
    height: 160px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 465px;
  }

  .u-section-1 .u-container-layout-2 {
    padding: 30px 10px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 0;
  }

  .u-section-1 .u-text-2 {
    margin-right: 16px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
  }

  .u-section-1 .u-text-4 {
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 465px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1063px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 855px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-1 {
    height: 462px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 100px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 766px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 538px;
  }

  .u-section-1 .u-image-1 {
    height: 284px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
  }
}